[submodule ".registry"]
	path = .registry
	url = https://github.com/humaniverse/humaniverse.r-universe.dev
	branch = HEAD
[submodule "DEPAHRI"]
	path = DEPAHRI
	url = https://github.com/humaniverse/DEPAHRI
[submodule "IMD"]
	path = IMD
	url = https://github.com/humaniverse/IMD
[submodule "asylum"]
	path = asylum
	url = https://github.com/humaniverse/asylum
[submodule "demographr"]
	path = demographr
	url = https://github.com/humaniverse/demographr
[submodule "geographr"]
	path = geographr
	url = https://github.com/humaniverse/geographr
[submodule "healthindexni"]
	path = healthindexni
	url = https://github.com/humaniverse/healthindexni
[submodule "healthindexscotland"]
	path = healthindexscotland
	url = https://github.com/humaniverse/healthindexscotland
[submodule "healthindexwales"]
	path = healthindexwales
	url = https://github.com/humaniverse/healthindexwales
[submodule "healthyr"]
	path = healthyr
	url = https://github.com/humaniverse/healthyr
[submodule "hiedata"]
	path = hiedata
	url = https://github.com/humaniverse/hiedata
[submodule "loneliness"]
	path = loneliness
	url = https://github.com/humaniverse/loneliness
[submodule "wildfires"]
	path = wildfires
	url = https://github.com/humaniverse/wildfires
